@{
    ViewData["Title"] = "Landing Page";
    var time = DateTime.Now.ToString("hh:mm:ss");
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h1 class="display-4">Information Website</h1>
<div>
    <h4>Favorite Fruits</h4>
    <table>
        <tr>
            <th>Item Number</th>
            <th>Fruit Name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Apple</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Banana</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mango</td>
        </tr>
    </table>
</div>
<br/>
<div>
    <form>
        <input type="text" id="subject" placeholder="Subject" /><br />
        <label><input type="checkbox"/>Ilang-Ilang Street</label><br/>
        <label><input type="checkbox" />Manggahan Street</label><br/>
        <label><input type="checkbox" />San Pedro Street</label><br/>
        <textarea placeholder="comment about myself"></textarea>

        <br>

    </form>
    <br/>
    <h4>Favorite Songs</h4>
    <div>
        <ul>
            <li>Bohemian rhapsody - Queen</li>
            <li>Sayo - Silent Sanctuary</li>
            <li>Fireflies - Owl City</li>
        </ul>
    </div>
</div>
    

